<html lang="en">
<head>
    <meta charset="UTF-8">
    <style>
        {% include 'main.css' %}
    </style>
</head>
<body>
<span class="header"><p>{{ subject }}</p></span>
<h1>Задача <a href="{{ url }}/issues/{{ issue.id }}">#{{ issue.id }}</a>:
 <a href="{{ url }}/issues/{{ issue_id }}">{{ issue.subject }}</a></h1>
<ul class="details">
    <li><strong>Проект: </strong>{{ issue.project_name }}</li>
    <li><strong>Уровень обслуживания: </strong>{{ issue.project_sla }}</li>
    <li><strong>Приоритет: </strong>{{ issue.priority }}</li>
    <li><strong>Автор: </strong>{{ issue.author }}</li>
    <li><strong>Назначена: </strong>{{ issue.assigned_to }}</li>
    <li><strong>Время создания: </strong>{{ issue.created_on_local }}</li>
    <li><strong>Время с момента добавления: </strong>{{ issue.time_after_creation }}</li>
    <li><strong>Эскалация: </strong>{{ issue.time_window }}</li>
    <li><strong>Уведомления отправлены: </strong>{{ issue.notify_roles }}</li>
</ul>
<hr>
<span class="footer">
    <p><a class="external" href="{{ url }}">{{ url }}</a></p>
</span>
</body>
</html>
