<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ subject }}</title>
    <style>
        {% include 'main.css' %}
    </style>
</head>
<body>
<span class="header">{{ subject }}</span>
{% for project in projects %}
<h1>Проект: <a href="{{ url }}/projects/{{ project.identifier }}/issues">{{ project.name }}</a> ({{ project.sla }})</h1>
<ul class="details">
    {% for issue in project.issues %}
    <li><a href="{{ url }}/issues/{{ issue.id }}">#{{ issue.id }}: {{ issue.subject }}</a>
        <ul class="subdetails">
            <li><strong>Статус: </strong>{{ issue.status }}</li>
            <li{% if issue.important is defined and issue.important %}
                class="important"
            {% endif %}><strong>Эскалация: </strong>{{ issue.time_window }}</li>
            <li><strong>Автор: </strong>{{ issue.author }}</li>
            <li><strong>Назначена: </strong>{{ issue.assigned_to }}</li>
            <li><strong>Время создания: </strong>{{ issue.created_on_local }}</li>
            <li><strong>Время с момента добавления: </strong>{{ issue.time_after_creation }}</li>
        </ul>
    </li>
    {% endfor %}
</ul>
<hr>
{% endfor %}
<span class="footer">
    <p><a class="external" href="{{ url }}">{{ url }}</a></p>
</span>
</body>
</html>